<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <title>List of Orders</title>

    <!-- Ajout de Bootstrap via CDN pour le design responsive -->
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Utilisation de Bootstrap à partir du CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>choix url</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/styleChoix.css}" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light"  >
    <div class="container-fluid" >
        <a class="navbar-brand" href="#">
            <img src="images/logo-houloul.png">
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">

                    <a href="/choix-ids" class="nav-link active" style="margin-left: 5px;  ">Mon Espace</a>
                </li>
                <li class="nav-item">
                    <a href="/choixParametre" class="nav-link active" style="margin-left: 5px ;  ">créer page</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        statistic
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a href="/statistics" class="dropdown-item " style="margin-left: 5px;  ">Statistique Global</a></li>
                        <li><a href="/countDistinctCommandsByDateAndRefLandPage" class="dropdown-item " style="margin-left: 5px ;  ">Statistique par date</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a th:href="@{/export/excel}" class="nav-link active" style=" margin-left: 5px">Exporter vers Excel</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Suivis Commandes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a href="/commandes" class="dropdown-item " style="margin-left: 5px;  ">Commandes en Attentes</a></li>
                        <li><a href="/confirmedOrders" class="dropdown-item " style="margin-left: 5px ;  ">Commandes Traitées</a></li>
                        <li><a href="/onlyConfirmedOrders" class="dropdown-item " style="margin-left: 5px ;  ">Commandes Confirmées</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 style="text-align: center; margin: 10px 10px ;"> liste des commandes :</h1>

<div class="container mt-3">
    <div class="input-group mb-3 flex align-items-center" >
        <span class="input-group-text">liste des commandes traitées déjà :</span>
        <input type="date" class="form-control" id="dateFilter" placeholder=" dd/MM/yyyy">
        <button class="btn btn-primary mt-2" onclick="filterTable()">Filtrer</button>
    </div>
</div>

<table class="table"   id="table_cmd1" border="1">
    <thead class="thead-dark">
    <tr >
        <th scope="col" style="text-align: center">numero cmd</th>
        <th scope="col" style="text-align: center">client</th>
        <th scope="col" style="text-align: center">wilaya</th>
        <th scope="col" style="text-align: center">commune</th>
        <th scope="col" style="text-align: center">numero telephone</th>
        <th scope="col" style="text-align: center">date cmd</th>
        <th scope="col" style="text-align: center">nom Produit</th>
        <th scope="col" style="text-align: center">confirmation</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of orders -->
    <tr th:each="order : ${confirmedOrders}" class="table-row">
        <td th:text="${order.idCmd}" style="text-align: center"></td>
        <td th:text="${order.name}" style="text-align: center"></td>
        <td th:text="${order.wilaya}" style="text-align: center"></td>
        <td th:text="${order.commune}" style="text-align: center"></td>
        <td th:text="${order.numero}" style="text-align: center"></td>
        <td th:text="${#dates.format(order.dateCommande, 'dd/MM/yyyy HH:mm')}" style="text-align: center"></td>
        <td th:text="${order.refLandPage}" style="text-align: center"></td>
        <td th:text="${order.status}" style="text-align: center"></td>

    </tr>
    </tbody>
</table>
<div id="emptyMessage" style="text-align: center; margin-top: 10px; " hidden="hidden">Rien à afficher</div>
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="justify-content: left; align-items: end;">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary" id="prevBtn" onclick="prevPage()" style=" margin:10px 10px"> <<< </button>
        <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPage()" style=" margin:10px 10px"> >>> </button>
    </div>
</div>

<script>
    // Variables
    var rowsPerPage = 100;
    var currentPage = 1;

    // Function to show/hide rows based on current page
    function showRows() {
        var rows = $('.table-row');
        var start = (currentPage - 1) * rowsPerPage;
        var end = start + rowsPerPage;

        rows.hide(); // Hide all rows
        rows.slice(start, end).show(); // Show the rows for the current page
    }

    // Function to navigate to the previous page
    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            showRows();
        }
    }

    // Function to navigate to the next page
    function nextPage() {
        var totalRows = $('.table-row').length;
        var totalPages = Math.ceil(totalRows / rowsPerPage);

        if (currentPage < totalPages) {
            currentPage++;
            showRows();
        }
    }


    // Initial setup
    $(document).ready(function () {
        showRows(); // Show initial rows on page load
    });


    function filterTable() {
        var inputDate1 = String($('#dateFilter').val());

        // Divisez la date en ses composants (année, mois, jour)
        var dateComponents = inputDate1.split('-');

        // Réorganisez les composants pour obtenir le format DD/MM/YYYY
        var inputDate = dateComponents[2] + '/' + dateComponents[1] + '/' + dateComponents[0];

        var rows = $('.table-row');

        // Si la date est vide, réinitialiser le filtre
        if (inputDate === "") {
            rows.show();
        } else {
            // Sinon, masquer les lignes qui ne correspondent pas à la date filtrée
            rows.each(function () {
                var orderDate = $(this).find('td:eq(4)').text(); // Colonne de la date

                if (orderDate.indexOf(inputDate) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });

            // Recherche des lignes filtrées après la boucle each
            var filteredRows = rows.filter(':visible');

            if (filteredRows.length === 0) {
                // Aucun résultat filtré, afficher le message
                $('#emptyMessage').show();
            } else {
                // Afficher seulement les lignes filtrées
                rows.hide();
                filteredRows.show();
                $('#emptyMessage').hide();  // Masquer le message
            }
        }
    }


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>


</html>
