<!DOCTYPE html>
<html dir="rtl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>الصفحة الرئيسية</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/style3.css}" />

    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '822534749906393');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=822534749906393&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>

<div class="main">
    <div class="container">
        <h1 class="fr-view"> <span>علبتين بثمن علبة واحدة</span></h1>
        <div class="prix">
            <p>
                <span class="value">2900</span>
                <span class="currency" style="font-size: medium;">&nbsp;د.ج</span></p>
        </div>
        <form th:action="@{'/huilleHouloul/pages/page2/' + ${refLandP}}" method="post" th:object="${commande}" name="formName" >
            <div class="main-user-info">
                <div class="user-input-box">
                    <input th:field="*{name}" type="text" id="name" name="name" required autofocus="autofocus" placeholder="الرجاء ادخال الاسم كاملا" />
                </div>
                <div class="user-input-box">
                    <input th:field="*{numero}" type="text" id="numero" name="numero" required autofocus="autofocus" placeholder="الرجاء ادخال رقم الهاتف"/>
                </div>
                <div class="user-input-box">
                    <input th:field="*{wilaya}" type="text" id="wilaya" name="wilaya" required autofocus="autofocus" placeholder="الرجاء ادخال الولاية"/>
                </div>
                <div class="user-input-box">
                    <input th:field="*{commune}" type="text" id="commune" name="commune" required autofocus="autofocus" placeholder="الرجاء ادخال البلدية"/>
                </div>
                <div>
                    <input th:field="*{refLandP}" type="hidden" id="refLandP" name="refLandP" th:value="${refLandP}">
                </div>

                <div  style="text-align: center; align-items: center;" id="errorMessage"></div>

            </div>
            <div class="livraison-gratuit" style="text-align: center;"> زائد مصاريف االتوصيل </div>

            <div class="form-submit-btn">
                <input  type="submit" value="اشتري الآن">
            </div>
            <div class="livraison-gratuit" style="text-align: center;"> للطلب إملأ هذه الاستمارة </div>
        </form>
    </div>
    <div class="Responsive">
        <img class="img-fluid" src="/images/huile/6.png">
        <img class="img-fluid" src="/images/huile/11.png">
        <img class="img-fluid" src="/images/huile/2.png">
        <img class="img-fluid" src="/images/huile/3.png">
        <img class="img-fluid" src="/images/huile/9.png">
        <img class="img-fluid" src="/images/huile/5.png">
        <img class="img-fluid" src="/images/huile/10.png">
    </div>
    <div class="livraison">
        🚚🚚🚚
    </div>
    <DIv style="display: flex; justify-content: center; padding-top: 3px;">
        <P style="border-top: solid 5px black; width: 30%; ;"></P>
    </DIv>
    <div class="demand-btn">
        <button class="button-dmd" id="orderButton1"> <p style="color:rgba(255, 255, 255); font-size: 120%;">اطلب الآن و لن تندم أبدا</p> <p class="fa fa-shopping-cart" style="display: flex; color: white; font-size: 150%;  margin-right: 20px;"></p></button>
    </div>
    <DIv style="display: flex; justify-content: center; padding-top: 3px;">
        <P style="margin-top: 30px; font-size: xx-large;display: flex; justify-content: center ;"> ⚠️ ملاحظة ⚠️</P>
    </DIv>
    <div class="div-vers">
        <p style="font-size: x-large ; font-weight: bold;">الحصول على نتيجة في فترة قصيرة</p>
    </div>
    <DIv style="display: flex; justify-content: center; padding-top: 3px;">
        <P style="border-top: solid 5px black; width: 20%; ;"></P>
    </DIv>
    <DIv style="display: flex; justify-content: center; padding-top: 3px;">
        <P style="border-top: solid 5px black; width: 20%; ;"></P>
    </DIv>


    <div class="Responsive" style=" font-size:20px">
        <div id="countdown">
            <div class="circle" ><p id="seconds"></p><p style="font-size: small;">ثانية</p></div>
            <div class="circle" ><p id="minutes"></p><p style="font-size: small;">دقيقة</p></div>
            <div class="circle" ><p id="hours"></p><p style="font-size: small;"> ساعة</p></div>
        </div>
    </div>
    <div class="demand-btn-2">
        <button class="button-dmd"  id="orderButton2"> <p style="color:rgba(255, 255, 255); font-size: 150%;">اطلب الآن و لن تندم</p> <p class="fa fa-shopping-cart" style="display: flex; color: white; font-size: 150%;  margin-right: 20px;"></p></button>
    </div>




</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>


<script>




    // Fonction pour vider les champs du formulaire
    function clearFormFields() {
        document.getElementById('name').value = '';
        document.getElementById('numero').value = '';
        document.getElementById('wilaya').value = '';
        document.getElementById('commune').value = '';
    }

    // Attacher la fonction clearFormFields à l'événement DOMContentLoaded
    document.addEventListener('DOMContentLoaded', function () {
        // Appeler clearFormFields lorsque la page est chargée
        clearFormFields();
    });

    // Attacher la fonction clearFormFields à l'événement beforeunload pour vider les champs avant le rechargement
    window.addEventListener('beforeunload', function () {
        clearFormFields();
    });

    document.addEventListener('DOMContentLoaded', function() {
        function getParameterByName(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.href);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        // Obtenez la valeur du paramètre refLandP de l'URL
        var refLandPValue = getParameterByName('refLandP');

        console.log('Valeur de refLandP : ' + refLandPValue);

        // Mettez la valeur dans l'input refLandP
        document.getElementById('refLandP').value = refLandPValue;
    });


    document.getElementById("orderButton2").addEventListener("click", function() {
        scrollToTop();
    });

    document.getElementById("orderButton1").addEventListener("click", function() {
        scrollToTop();
    });

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }



    function startCountdown(hours) {
        // Calculate the total seconds
        var totalSeconds = hours * 3600;

        // Get the current time
        var startTime = new Date().getTime();

        // Update the countdown every second
        var countdown = setInterval(function() {
            // Get the current time
            var currentTime = new Date().getTime();

            // Calculate the elapsed time in seconds
            var elapsedTime = Math.floor((currentTime - startTime) / 1000);

            // Calculate the remaining time in seconds
            var remainingSeconds = totalSeconds - elapsedTime;

            // Check if the countdown is finished
            if (remainingSeconds <= 0) {
                clearInterval(countdown);
                document.getElementById("hours").textContent = "00";
                document.getElementById("minutes").textContent = "00";
                document.getElementById("seconds").textContent = "00";
                document.getElementById("countdown").textContent = "Countdown finished!";
                return;
            }

            // Calculate the hours, minutes, and seconds
            var hours = Math.floor(remainingSeconds / 3600);
            var minutes = Math.floor((remainingSeconds % 3600) / 60);
            var seconds = remainingSeconds % 60;

            // Format the countdown display
            var hoursDisplay = hours.toString().padStart(2, "0");
            var minutesDisplay = minutes.toString().padStart(2, "0");
            var secondsDisplay = seconds.toString().padStart(2, "0");

            // Display the countdown in separate circles
            document.getElementById("hours").textContent = hoursDisplay;
            document.getElementById("minutes").textContent = minutesDisplay;
            document.getElementById("seconds").textContent = secondsDisplay;
        }, 1000); // Update every second (1000 milliseconds)
    }

    // Start the countdown with 1 hour for testing
    startCountdown(1);












    const formElement = document.querySelector('form[name="formName"]');
    const errorMessages = {}; // Objet pour stocker les messages d'erreur spécifiques

    formElement.addEventListener('submit', function(event) {
        event.preventDefault(); // Empêche la soumission du formulaire par défaut

        const fullNameInput = document.getElementById('name');
        const usernameInput = document.getElementById('commune');
        const emailInput = document.getElementById('wilaya');
        const phoneNumberInput = document.getElementById('numero');

        // Expression régulière pour le champ FullName (الاسم الكامل) - Lettres arabes et espaces seulement
        const fullNameRegex =/^[A-Za-z\u0600-\u06FF\s]+$/;
        if (!fullNameRegex.test(fullNameInput.value)) {
            errorMessages.name = '  ';
        } else {
            delete errorMessages.name; // Supprimer le message d'erreur s'il est valide
        }

        // Expression régulière pour le champ Username (رقم الهاتف) - 9 chiffres seulement
        /*const usernameRegex = /^[A-Za-z\u0600-\u06FF\s]+$/;
        if (!usernameRegex.test(usernameInput.value)) {
            errorMessages.commune = ' ';
        } else {
            delete errorMessages.commune; // Supprimer le message d'erreur s'il est valide
        }*/

        // Expression régulière pour le champ Email (الولاية) - Format d'email valide
        const emailRegex = /^[A-Za-z\u0600-\u06FF\s]+$/;
        if (!emailRegex.test(emailInput.value)) {
            errorMessages.wilaya = ' ';
        } else {
            delete errorMessages.wilaya; // Supprimer le message d'erreur s'il est valide
        }

        // Expression régulière pour le champ PhoneNumber (البلدية) - Chiffres seulement
        /* const phoneNumberRegex = /^\d{10}$/ ;
         if (!phoneNumberRegex.test(phoneNumberInput.value) ) {
             errorMessages.numero= '  ';
         } else {
             delete errorMessages.numero; // Supprimer le message d'erreur s'il est valide
         }*/

        // Vérifiez s'il y a des champs invalides
        if (Object.keys(errorMessages).length === 0) {
            // Tous les champs sont valides, vous pouvez soumettre le formulaire
            console.log('Tous les champs sont valides.');
            formElement.submit(); // Soumettre le formulaire
            /*Swal.fire({
                icon: 'success',
                title: 'شكرا',
                text: 'تم إرسال طلبيتكم بنجاح ',
            });*/

        } else {
            // Il y a des champs invalides, affichez le message d'erreur dans la page
            let errorMessage = 'راجع معلوماتك الشخصية من فضلك';
            for (const fieldName in errorMessages) {
                errorMessage += ' ' + errorMessages[fieldName];
            }
            const errorMessageElement = document.getElementById('errorMessage');
            errorMessageElement.textContent = errorMessage;
        }
    });








</script>
</body>
</html>